.about-body {
    padding:30px;
    /* margin-right: 39pc; */
}

.about-body > .about-body-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.about-body-wrapper > .sec-1 > .title {
    font-family: 'Anton', sans-serif;
    font-size: xx-large;
}

.about-body-wrapper > .sec-1 p {
    color: black;
    font-size: large;
    font-family: 'Noto Serif', serif;
}